{% extends 'base.html' %}
{% block content %}
<main>
    <section class="about">
      <div class="container">
        <h2>About Us</h2>
        <p>Welcome to MasterChef.io! We are a community of passionate food enthusiasts who love to share and discover new recipes. Our mission is to bring people together through the joy of cooking and eating. Whether you're a professional chef or a home cook, you'll find inspiration and support here.</p>
        <h3>Our Story</h3>
        <p>MasterChef.io was founded in 2024 with the goal of creating a platform where food lovers can share their favorite recipes, discover new dishes, and connect with like-minded individuals. We believe that cooking is an art, and everyone has something unique to contribute to the culinary world.</p>
        <h3>Meet the Team</h3>
        <div class="team">
          <div class="team-member">
            <img src="../static/images/team-member1.jpg" alt="Team Member 1">
            <h4>Abdullah Ouahmane</h4>
            <p>Co-Founder & Lead Developer</p>
          </div>
          <div class="team-member">
            <img src="../static/images/team-member2.jpg" alt="Team Member 2">
            <h4>Jude Osam-Sackey</h4>
            <p>Co-Founder & Developer</p>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}      
